.main {
	width: 80%;
	height: 91%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin: 1% auto;
	color: var(--white-color);
}

.main_left {
	flex-basis: 45%;
}

.main_left h1 {
	font-size: 3.125rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.main_left p {
	font-size: 1.125rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.ctas {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1.5rem;
	margin-bottom: 1rem;
}

.ctas .create_btn {
	border: 1px solid var(--secondary-color);
	background-color: transparent;
}

.stats {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
}

.stats h3 {
	font-size: 2.5rem;
	display: flex;
	flex-direction: column;
}

.stats span {
	font-size: 0.75rem;
	margin-top: -0.5rem;
}

/* MAIN RIGHT */
.main_right {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 55%;
	height: 45vh;
}

.img_box {
	position: relative;
	/* height: 63.5%; */
}

.img_bg {
	position: absolute;
	width: 13.0625rem;
	height: 100%;
	background-color: #ffffffcb;
	filter: blur(3px);
}

.img_box img {
	height: 13.0625rem;
	width: 13.0625rem;
	position: relative;
	padding: 1rem;
}

.first_box {
	margin-right: -7rem;
	transform: rotate(-15deg);
	z-index: -1;
}

.second_box {
	margin-top: -4.5rem;
}

.third_box {
	margin-left: -7rem;
	z-index: -1;
	transform: rotate(15deg);
}

/* Resonsiveness (Tablets) */
@media (max-width: 1024px) {
	.main_container {
		flex-direction: column;
		justify-content: center;
	}

	/* Main right */
	.main_right {
		flex-basis: 50%;
		width: 100%;
	}
}

/* Resonsiveness (Phones) */
@media (max-width: 524px) {
	.main {
		width: 85%;
	}

	.main_left {
		width: 100%;
	}

	.main_left h1 {
		font-size: 1.875rem;
		margin-bottom: 1.5rem;
	}

	.main_left p {
		font-size: 0.75rem;
		margin-bottom: 1.5rem;
	}

	.ctas {
		width: 95.5%;
		justify-content: space-between;
		margin-bottom: 1.5rem;
	}

	.stats {
		gap: 1.95rem;
	}

	/* Main Right */
	.main_right {
		margin-top: -10%;
	}

	.img_bg {
		width: 9.089375rem;
	}

	.img_box img {
		height: 9.089375rem;
		width: 9.089375rem;
	}

	.first_box {
		margin-right: -4rem;
	}

	.third_box {
		margin-left: -4rem;
	}
}
