.explore {
	width: 80%;
	margin: 0% auto;
	padding-bottom: 3%;
}

.explorer-container {
	width: 100%;
	position: relative;
}

.explore_heading {
	border-bottom: 1px solid var(--secondary-color);
}

.explore_box {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	/* gap: 1.5rem; */
	align-items: center;
	justify-content: space-between;
	margin-top: 4%;
}

.explore_inner-bg {
	position: absolute;
	background-color: var(--variant-color-2);
	width: 19.9375rem;
	height: 21.1875rem;
	border-radius: 1rem;
}

.explore_inner {
	position: relative;
	background-color: var(--variant-color);
	top: -1rem;
	left: -1rem;
	width: 19.9375rem;
	height: 21.1875rem;
	text-align: center;
	padding: 1.5rem;
	border-radius: 1rem;
	transition: all 500ms ease;
}

.explore_inner:hover {
	top: 0;
	left: 0;
}

.explore_icon {
	font-size: 3.515rem;
	color: var(--primary-color);
	margin-bottom: 0.5rem;
	background-color: var(--secondary-color);
	padding: 0.3125rem;
	text-align: center;
	border-radius: 0.5rem;
}

.explore_inner h3 {
	font-size: 1.5625rem;
	color: var(--white-color);
	margin-bottom: 0.5rem;
}

.explore_inner p {
	font-size: 1rem;
	color: var(--white-color);
}

/* Responsive (Tablets) */
@media (max-width: 1024px) {
	.explore_con {
		margin-bottom: 1.7rem;
	}

	.explore_inner-bg {
		width: 18.9375rem;
		height: 18.1875rem;
	}

	.explore_inner {
		width: 18.9375rem;
		height: 18.1875rem;
	}
}

/* Responsive (Phones) */
@media (max-width: 524px) {
	.explore_heading {
		margin-bottom: 2rem;
	}

	.explore_heading h2 {
		font-size: 1.5rem;
	}

	.explore_heading p {
		font-size: 0.7rem;
	}

	.explore_box {
		align-items: center;
		justify-content: center;
		margin-top: 4%;
	}

	.explore_inner-bg {
		width: 16.9375rem;
		height: 18.1875rem;
	}

	.explore_inner {
		width: 16.9375rem;
		height: 18.1875rem;
	}
}
