@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
}

:root {
	--white-color: #fff;
	--black-color: #000;
	--green-color: #00cb51;
	--primary-color: #001e3c;
	--secondary-color: #007fff;
	--placeholder-color: #00509f;

	--variant-color: #003162;
	--variant-color-2: #002953;
	--variant-color-3: #00264d;

	--container-width-lg: 90%;
	--container-width-sm: 80%;

	--transition: all 500ms ease;
}

body {
	background-color: var(--primary-color);
}

html {
	scroll-behavior: smooth;
}

.btn {
	padding: 0.7rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	background-color: var(--secondary-color);
	border: 1px solid transparent;
	color: var(--white-color);
	cursor: pointer;
	transition: var(--transition);
	font-size: 1rem;
}

.btn:hover {
	background-color: transparent;
	border: 1px solid var(--secondary-color);
}
